<mat-tab-group>
    <mat-tab class="mat-tab-color" label="Debitos Mensais">
        <div *ngFor="let paymentBill of paymentBills">
            <app-customer-details [paymentBill]='paymentBill'></app-customer-details>
        </div>
        <button class="btn btn-lg btn-block change-color btn-danger" (click)='deletePaymentBills()'>Apagar Tudo
            <i class='i-group fas fa-trash-alt'></i>
        </button>
    </mat-tab>
    <mat-tab label="Adicionar Novo Item">
        <app-create-customer></app-create-customer>
    </mat-tab>
</mat-tab-group>

